<ion-header>
  <ion-toolbar>
    <ion-title>tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager>
    <ion-slide>
      <ion-img src="../../assets/img/tutorial/sc01.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/img/tutorial/sc02.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="../../assets/img/tutorial/sc03.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-button class="centrar1" color="light" href="/">¡Comencemos!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
