<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="acs">
    <ion-router-outlet name="acs"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="empresas">
    <ion-router-outlet name="empresas"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acs" href="/tabs/(acs:acs)">
      <ion-icon name="star"></ion-icon>
      <ion-label>A.C</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="empresas" href="/tabs/(empresas:empresas)">
      <ion-icon name="business"></ion-icon>
      <ion-label>Empresas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
