<ion-header>
  <ion-toolbar>
    <ion-thumbnail>
      <img src="../../assets/img/personajes/P4.1.png">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card1">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="light" class="centrar1">
              <h1>VIAJA EN BICICLETA</h1>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="centrar1">
            <ion-button color="light" (click)="cumplirReto()">ACEPTAR RETO</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" fill="clear">
        <ion-fab-button color="light">
          <ion-icon name="keypad"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>
  <ion-button href="/tutorial">tutorial</ion-button>
</ion-content>
